body {
    background-color: rgb(243, 243, 243);
}

header {
    height: 5em;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 168, 6);
}

main {
    width: 80%;
    border: 1px solid rgb(65, 65, 65);
    margin: auto;
    height: 600px;
}

footer {
    height: 5em;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 168, 6);
}

#products_search {
    margin: 2em;
    padding: 0.5em;
    background-color: teal;
    width: 30%;
    align-self: left;
}

.category {
    height: 2em;
    margin: 0.5em;
    background-color: thistle;
    border-radius: 0.5em;
    border: 1px solid gray;
}

.category a {
    text-align: center;
    display: block;
    width: 100%;
    line-height: 2em;
}

.categories {
    box-shadow: 0px 5px 8px rgb(97, 97, 97);
    margin-top: 1em;
}